@model DigitalBusinessCard.Models.Classes.Users

@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 style="font-weight:600;">@DigitalBusinessCard.Language.Localization.account</h1>
<br />
<h3> @ViewBag.name </h3>
<br />
@using (Html.BeginForm("UpdateMyProfile", "User", FormMethod.Post))
{

    <label>@DigitalBusinessCard.Language.Localization.email</label>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
<label>@DigitalBusinessCard.Language.Localization.password</label>
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control",id="sifre" })
    @Html.HiddenFor(x => x.UserID)

    <br />
    <button class="btn btn-outline-dark" style="width:100%;">@DigitalBusinessCard.Language.Localization.update</button>
}   