@using DigitalBusinessCard.Models.Classes
@model List<BusinessCard>

@{
    ViewBag.Title = "CardProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<style>
    /* a {
        color: rgb(40,76,28) !important
    }
    p {
        color: rgb(40,76,28) !important
    }
    button {
        color: rgb(40,76,28) !important
    }*/
    .content-wrapper {
        background: #50e2aa !important;
    }
</style>
<body>
    <div class="modal" id="Modal1">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align:center;">
                <div class="modal-header">
                    <h2 class="modal-title"> @DigitalBusinessCard.Language.Localization.mycard </h2>
                </div>
                <div class="modal-body">
                    @Html.Action("QRCreate", "BusinessCard", new { kod = Request.Url.AbsoluteUri })
                </div>
            </div>
        </div>
    </div>

    <div id="NavBar" style="margin-top:2vh;">

        <div id="lefNavbar">
            <button type="button" data-toggle="modal" data-target="#Modal1" style="border:none; background-color:transparent;">

                <i class="fa-solid fa-qrcode"></i>  @DigitalBusinessCard.Language.Localization.qrcode
            </button>
        </div>

        <div id="centerNavbar">

        </div>
        <div id="rightNavbar">
            <a href="@Request.Url.AbsoluteUri" onclick="copyURI(event)" style="color:black;"> <i class="fa-solid fa-share-nodes"></i> @DigitalBusinessCard.Language.Localization.copycard</a>
        </div>

    </div>
    <div id="yanDiv">
        @foreach (var x in Model)
        {
            <div class="modal" id="Modal3">
                <div class="modal-dialog">
                    <div class="modal-content" style="text-align:center;">
                        <div class="modal-header">
                            <h2 class="modal-title"> @DigitalBusinessCard.Language.Localization.cashapp </h2>
                        </div>
                        <div class="modal-body">
                            <p>@DigitalBusinessCard.Language.Localization.no :   @x.CashApp </p>
                            <br />
                            <button type="button" onclick="copyTo('@x.CashApp')" class="btn btn-outline-dark"> @DigitalBusinessCard.Language.Localization.copytoclipboard </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="Modal2">
                <div class="modal-dialog">
                    <div class="modal-content" style="text-align:center;">
                        <div class="modal-header">
                            <h2 class="modal-title"> @DigitalBusinessCard.Language.Localization.iban </h2>
                        </div>
                        <div class="modal-body">
                            <p>@DigitalBusinessCard.Language.Localization.no :   @x.IBAN </p>
                            <br />
                            <button type="button" onclick="copyTo('@x.IBAN')" class="btn btn-outline-dark">@DigitalBusinessCard.Language.Localization.copytoclipboard</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="Modal4">
                <div class="modal-dialog">
                    <div class="modal-content" style="text-align:center;">
                        <div class="modal-header">
                            <h2 class="modal-title"> @DigitalBusinessCard.Language.Localization.paypal </h2>
                        </div>
                        <div class="modal-body">
                            <p>@DigitalBusinessCard.Language.Localization.no :  @x.Paypal </p>
                            <br />
                            <button type="button" onclick="copyTo('@x.Paypal')" class="btn btn-outline-dark">@DigitalBusinessCard.Language.Localization.copytoclipboard</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="Modal5">
                <div class="modal-dialog">
                    <div class="modal-content" style="text-align:center;">
                        <div class="modal-header">
                            <h2 class="modal-title"> @DigitalBusinessCard.Language.Localization.venmo </h2>
                        </div>
                        <div class="modal-body">
                            <p>@DigitalBusinessCard.Language.Localization.no : @x.Venmo</p>
                            <br />
                            <button type="button" onclick="copyTo('@x.Venmo')" class="btn btn-outline-dark">@DigitalBusinessCard.Language.Localization.copytoclipboard</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="Modal6">
                <div class="modal-dialog">
                    <div class="modal-content" style="text-align:center;">
                        <div class="modal-header">
                            <h2 class="modal-title"> @DigitalBusinessCard.Language.Localization.lovcen </h2>
                        </div>
                        <div class="modal-body">
                            <p>@DigitalBusinessCard.Language.Localization.no :  @x.Lovcen </p>
                            <br />
                            <button type="button" onclick="copyTo('@x.Lovcen')" class="btn btn-outline-dark">@DigitalBusinessCard.Language.Localization.copytoclipboard</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="Modal7">
                <div class="modal-dialog">
                    <div class="modal-content" style="text-align:center;">
                        <div class="modal-header">
                            <h2 class="modal-title"> @DigitalBusinessCard.Language.Localization.ckb </h2>
                        </div>
                        <div class="modal-body">
                            <p>@DigitalBusinessCard.Language.Localization.no :  @x.CKB </p>
                            <br />
                            <button type="button" onclick="copyTo('@x.CKB')" class="btn btn-outline-dark">@DigitalBusinessCard.Language.Localization.copytoclipboard</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="Modal8">
                <div class="modal-dialog">
                    <div class="modal-content" style="text-align:center;">
                        <div class="modal-header">
                            <h2 class="modal-title"> @DigitalBusinessCard.Language.Localization.ziraat </h2>
                        </div>
                        <div class="modal-body">
                            <p>@DigitalBusinessCard.Language.Localization.no :  @x.Ziraat </p>
                            <br />
                            <button type="button" onclick="copyTo('@x.Ziraat')" class="btn btn-outline-dark">@DigitalBusinessCard.Language.Localization.copytoclipboard</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="Modal9">
                <div class="modal-dialog">
                    <div class="modal-content" style="text-align:center;">
                        <div class="modal-header">
                            <h2 class="modal-title"> @DigitalBusinessCard.Language.Localization.btcwal </h2>
                        </div>
                        <div class="modal-body">
                            <p>@DigitalBusinessCard.Language.Localization.no :  @x.Bitcoin </p>
                            <br />
                            <button type="button" onclick="copyTo('@x.Bitcoin')" class="btn btn-outline-dark">@DigitalBusinessCard.Language.Localization.copytoclipboard</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="Modal10">
                <div class="modal-dialog">
                    <div class="modal-content" style="text-align:center;">
                        <div class="modal-header">
                            <h2 class="modal-title"> @DigitalBusinessCard.Language.Localization.ethwal </h2>
                        </div>
                        <div class="modal-body">
                            <p>@DigitalBusinessCard.Language.Localization.no :  @x.Ethereum </p>
                            <br />
                            <button type="button" onclick="copyTo('@x.Ethereum')" class="btn btn-outline-dark">@DigitalBusinessCard.Language.Localization.copytoclipboard</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="Modal11">
                <div class="modal-dialog">
                    <div class="modal-content" style="text-align:center;">
                        <div class="modal-header">
                            <h2 class="modal-title"> @DigitalBusinessCard.Language.Localization.crypto </h2>
                        </div>
                        <div class="modal-body">
                            <p>@DigitalBusinessCard.Language.Localization.no :  @x.Crypto </p>
                            <br />
                            <button type="button" onclick="copyTo('@x.Crypto')" class="btn btn-outline-dark">@DigitalBusinessCard.Language.Localization.copytoclipboard</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="Modal12">
                <div class="modal-dialog">
                    <div class="modal-content" style="text-align:center;">
                        <div class="modal-header">
                            <h2 class="modal-title"> @DigitalBusinessCard.Language.Localization.discord </h2>
                        </div>
                        <div class="modal-body">
                            <p>@DigitalBusinessCard.Language.Localization.discord :  @x.Discord </p>
                            <br />
                            <button type="button" onclick="copyTo('@x.Discord')" class="btn btn-outline-dark">@DigitalBusinessCard.Language.Localization.copytoclipboard</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="Modal13">
                <div class="modal-dialog">
                    <div class="modal-content" style="text-align:center;">
                        <div class="modal-header">
                            <h2 class="modal-title"> @DigitalBusinessCard.Language.Localization.adress </h2>
                        </div>
                        <div class="modal-body">
                            <p>@DigitalBusinessCard.Language.Localization.adress :  @x.Adress </p>
                            <br />
                            <button type="button" onclick="copyTo('@x.Adress')" class="btn btn-outline-dark">@DigitalBusinessCard.Language.Localization.copytoclipboard</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="PersonelInfo">
                <div id="photo">
                    <div id="profileDiv">
                        @if (x.ProfilePhoto == null)
                        {
                            <img id="pp"
                                 src="~/Content/images/prof.png"
                                 alt="User profile picture">
                        }
                        else
                        {
                            <img id="pp"
                                 src="@x.ProfilePhoto"
                                 alt="User profile picture">

                        }
                        <img id="backProf" src="~/Content/images/background.jpg" style="visibility:hidden">
                    </div>
                    <p id="name">@x.Name @x.Surname</p>
                    <p>@x.Title / @x.Company</p>
                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || ViewBag.urn == ViewBag.nagme)
                    {

                        <div id="button-div" style="text-align:center; margin-bottom:3%;">
                            <a href="/BusinessCard/CardEdit/@x.CardID" class="btn btn-outline-dark" id="editButton">@DigitalBusinessCard.Language.Localization.edit</a>
                        </div>
                    }
                </div>
            </div>

            <div id="gridBox" style="row-gap:2px !important;">
                @if (x.ShowPhoneNumbere == true)
                {
                    <div id="box1">
                        <a href="/BusinessCard/VCF/@x.UserID" target="_blank" style="color:black">
                            <img src="~/Content/images/rehberr.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.addcontact</p>

                        </a>
                    </div>
                }
                @if (x.ShowPhoneNumbere == true)
                {
                    <div id="box1">
                        <a href="tel:@x.PhoneNumber" target="_blank" style="color:black">
                            <img src="~/Content/images/phone.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.phone</p>

                        </a>
                    </div>
                }
                @if (x.ShowEmail == true)
                {
                    <div id="box1">
                        <a href="mailto:@x.Email" target="_blank" style="color:black">
                            <img src="~/Content/images/email.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.email</p>
                        </a>
                    </div>
                }  @if (x.ShowAdress == true)
                {
                    <div id="box1">
                        <a  href="" type="button" data-toggle="modal" data-target="#Modal13" style="color:black">
                            <img src="~/Content/images/adress.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.adress</p>
                        </a>
                    </div>
                }
                @if (x.ShowLink == true)
                {
                    <div id="box1">
                        <a href="//@x.Link" target="_blank" style="color:black">

                            <img src="~/Content/images/link.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.link</p>
                        </a>
                    </div>
                }
                @if (x.ShowCompanyWebsite == true)
                {
                    <div id="box1">
                        <a href="//@x.CompanyWebsite" target="_blank" style="color:black">

                            <img src="~/Content/images/company.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.compweb</p>
                        </a>
                    </div>
                }
                @if (x.ShowCashApp == true)
                {

                    <div id="box1">
                        <a href="" type="button" data-toggle="modal" data-target="#Modal3" style="color:black">
                            <img src="~/Content/images/Cashapp.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.cashapp</p>
                        </a>
                    </div>
                }
                @if (x.ShowDiscord == true)
                {
                    <div id="box1">
                        <a href="" type="button" data-toggle="modal" data-target="#Modal12" style="color:black">
                            <img src="~/Content/images/discord.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.discord</p>
                        </a>
                    </div>
                }

                @if (x.ShowFacebook == true)
                {
                    <div id="box1">
                        <a href="//@x.Facebook" target="_blank" style="color:black">

                            <img src="~/Content/images/facebook.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.facebook</p>
                        </a>
                    </div>
                }

                @if (x.ShowGithub == true)
                {
                    <div id="box1">
                        <a href="//@x.Github" target="_blank" style="color:black">

                            <img src="~/Content/images/GitHub.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.github</p>
                        </a>
                    </div>
                }
                @if (x.ShowInstagram == true)
                {
                    <div id="box1">
                        <a href="//@x.Instagram" target="_blank" style="color:black">

                            <img src="~/Content/images/instagram.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.instagram</p>
                        </a>
                    </div>
                }

                @if (x.ShowLinkedIn == true)
                {
                    <div id="box1">
                        <a href="//@x.LinkedIn" target="_blank" style="color:black">

                            <img src="~/Content/images/linked.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.linkedin</p>
                        </a>
                    </div>
                }
                @if (x.ShowPaypal == true)
                {
                    <div id="box1">
                        <a href="" type="button" data-toggle="modal" data-target="#Modal4" style="color:black">

                            <img src="~/Content/images/paypal.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.paypal</p>
                        </a>
                    </div>
                }
                @if (x.ShowSignal == true)
                {
                    <div id="box1">
                        <a href="https://signal.me/#p/@x.Signal" target="_blank" style="color:black">

                            <img src="~/Content/images/Signal.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.signal</p>
                        </a>
                    </div>
                }
                @if (x.ShowSkype == true)
                {
                    <div id="box1">
                        <a href="//@x.Skype" target="_blank" style="color:black">

                            <img src="~/Content/images/skype.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.skype</p>
                        </a>
                    </div>
                }
                @if (x.ShowSnapchat == true)
                {
                    <div id="box1">
                        <a href="//@x.Snapchat" target="_blank" style="color:black">

                            <img src="~/Content/images/SNAP.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.snap</p>
                        </a>
                    </div>
                }
                @if (x.ShowTelegram == true)
                {
                    <div id="box1">
                        <a href="https://t.me/@x.Telegram" target="_blank" style="color:black">

                            <img src="~/Content/images/telegram.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.telegram</p>
                        </a>
                    </div>
                }
                @if (x.ShowTiktok == true)
                {
                    <div id="box1">
                        <a href="//@x.Tiktok" target="_blank" style="color:black">

                            <img src="~/Content/images/tiktok.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.tiktok</p>
                        </a>
                    </div>
                }
                @if (x.ShowTwitter == true)
                {
                    <div id="box1">
                        <a href="//@x.Twitter" target="_blank" style="color:black">

                            <img src="~/Content/images/twitter.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.twitter</p>
                        </a>
                    </div>
                }
                @if (x.ShowTwitch == true)
                {
                    <div id="box1">
                        <a href="//@x.Twitch" target="_blank" style="color:black">

                            <img src="~/Content/images/twitch.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.twitch</p>
                        </a>
                    </div>
                }
                @if (x.ShowYelp == true)
                {
                    <div id="box1">
                        <a href="//@x.Yelp" target="_blank" style="color:black">

                            <img src="~/Content/images/yelp.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.yelp </p>
                        </a>
                    </div>

                }
                @if (x.ShowVenmo == true)
                {
                    <div id="box1">
                        <a href="" type="button" data-toggle="modal" data-target="#Modal5" style="color:black">

                            <img src="~/Content/images/venmo.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.venmo</p>
                        </a>
                    </div>

                }
                @if (x.ShowWhatsapp == true)
                {
                    <div id="box1">
                        <a href="https://wa.me/@x.Whatsapp" target="_blank" style="color:black">

                            <img src="~/Content/images/whatsapp.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.whatsapp</p>
                        </a>
                    </div>
                }
                @if (x.ShowYoutube == true)
                {
                    <div id="box1">
                        <a href="//@x.Youtube" target="_blank" style="color:black">

                            <img src="~/Content/images/youtube.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.youtube</p>
                        </a>

                    </div>
                }
                @if (x.ShowCalendly == true)
                {
                    <div id="box1">
                        <a href="//@x.Calendly" target="_blank" style="color:black">

                            <img src="~/Content/images/calendly.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.calendly</p>
                        </a>

                    </div>
                }
                @if (x.ShowViber == true)
                {
                    <div id="box1">
                        <a href="viber://chat?number=@x.Viber" target="_blank" style="color:black">

                            <img src="~/Content/images/viber.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.viber</p>
                        </a>

                    </div>
                }
                @if (x.ShowWechat == true)
                {
                    <div id="box1">
                        <a href="weixin://dl/chat?chat_type=individual&uin=@x.Wechat" target="_blank" style="color:black">

                            <img src="~/Content/images/wechat.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.wechat</p>
                        </a>

                    </div>
                }
                @if (x.ShowBitcoin == true)
                {
                    <div id="box1">
                        <a href="" type="button" data-toggle="modal" data-target="#Modal9" style="color:black">

                            <img src="~/Content/images/bitcoin.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.bitcoin</p>
                        </a>

                    </div>
                }
                @if (x.ShowEthereum == true)
                {
                    <div id="box1">
                        <a href="" type="button" data-toggle="modal" data-target="#Modal10" style="color:black">

                            <img src="~/Content/images/eth.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.eth</p>
                        </a>

                    </div>
                }@if (x.ShowCrypto == true)
                {
                    <div id="box1">
                        <a href="" type="button" data-toggle="modal" data-target="#Modal11" style="color:black">

                            <img src="~/Content/images/crypto.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.crypto</p>
                        </a>

                    </div>
                }
                @if (x.ShowIBAN == true)
                {
                    <div id="box1">
                        <a href="" type="button" data-toggle="modal" data-target="#Modal2" style="color:black">

                            <img src="~/Content/images/iban.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.iban</p>
                        </a>

                    </div>
                }
                @if (x.ShowLovcen == true)
                {
                    <div id="box1">
                        <a href="" type="button" data-toggle="modal" data-target="#Modal6" style="color:black">

                            <img src="~/Content/images/lovcen.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.lovcen</p>
                        </a>

                    </div>
                }
                @if (x.ShowZiraat == true)
                {
                    <div id="box1">
                        <a href="" type="button" data-toggle="modal" data-target="#Modal8" style="color:black">

                            <img src="~/Content/images/ziraat.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.ziraat</p>
                        </a>

                    </div>
                }
                @if (x.ShowCKB == true)
                {
                    <div id="box1">
                        <a href="" type="button" data-toggle="modal" data-target="#Modal7" style="color:black">

                            <img src="~/Content/images/ckb.png">
                            <p style="margin-top:15px;">@DigitalBusinessCard.Language.Localization.ckb</p>
                        </a>

                    </div>
                }
                <div id="backgroundDiv" style="background: #50e2aa "></div>
            </div>
        }
        @*#1ee196*@
    </div>
    <div style="visibility:hidden;font-size:35px;">made by Hakan Igde</div>
</body>
<script>
    function copyURI(evt) {
        evt.preventDefault();
        navigator.clipboard.writeText(evt.target.getAttribute('href')).then(() => {
            /* clipboard successfully set */
        }, () => {
            /* clipboard write failed */
        });
    }
    
    function copyTo(text) {
        var dummy = document.createElement("textarea");
        document.body.appendChild(dummy);
        dummy.value = text;
        dummy.select();
        document.execCommand("copy");
        document.body.removeChild(dummy);
    }
</script>
<script>
    function copyToClipboard(text) {
        text.preventDefault();
        navigator.clipboard.writeText(text)
            .then(() => {
            })
            .catch((error) => {
            });
    }
</script>